<div class="avatars">
    <div class="btn btn-default avatar avt1"></div>
    <div class="btn btn-default avatar avt2"></div>
    <div class="btn btn-default avatar avt3"></div>
    <div class="btn btn-default avatar avt4"></div>
    <div class="btn btn-default avatar avt5"></div>
    <div class="btn btn-default avatar avt6"></div>
    <div class="btn btn-default avatar avt7"></div>
    <div class="btn btn-default avatar avt8"></div>
    <div class="btn btn-default avatar avt9"></div>
    <div class="btn btn-default avatar avt10"></div>
    <div class="btn btn-default avatar avt11"></div>
    <div class="btn btn-default avatar avt12"></div>
    <div class="btn btn-default avatar avt13"></div>
    <div class="btn btn-default avatar avt14"></div>
    <div class="btn btn-default avatar avt15"></div>
    <div class="btn btn-default avatar avt16"></div>
    <div class="btn btn-default avatar avt17"></div>
    <div class="btn btn-default avatar avt18"></div>
    <div class="btn btn-default avatar avt19"></div>
    <div class="btn btn-default avatar avt20"></div>
    <div class="btn btn-default avatar avt21"></div>
    <div class="btn btn-default avatar avt22"></div>
    <div class="btn btn-default avatar avt23"></div>
    <div class="btn btn-default avatar avt24"></div>
</div>