<section>
    <!-- container that contains list tabs or thumbnails -->
    <div id="list-title-container">
        <!-- list title thumbnail or tab -->
        <a href="#" class="btn" role="button"
           title="{{listname}}"
           ng-click="!listButtonDisabled ? getList(listname) : ''"
           ng-mouseenter="removeListButtonShow = true"
           ng-mouseleave="removeListButtonShow = false"
           ng-repeat="listname in userProfile.lists"
           ng-show="userProfile.lists.length > 0">
            <!-- list icon for phones and tablets representation -->
            <i class="fa fa-list-alt"></i>
            <!-- list title representation -->
            <div>{{listname}}</div>
            <!-- list delete button -->
            <button class="animate-show x-fast"
                    title="Delete {{listname}}"
                    ng-click="removeList(listname)"
                    ng-mouseenter="removeListButtonMouseenter()"
                    ng-mouseleave="removeListButtonMouseleave()"
                    ng-show="removeListButtonShow"><i class="fa fa-times"></i></button>
            <confirmation-content></confirmation-content>
        </a>
        <!-- add new list button and the form to type a name for a new list -->
        <div id="list-title-plus-btn" role="button">
            <!-- add new list button -->
            <a href class="animate-show slow" id="list-title-plus-btn-toggle"
               ng-init="hidden = false"
               ng-hide="hidden"
               ng-click="hidden = true">
                <i class="fa" ng-class="(userProfile.lists.length > 0) ? 'fa-plus-circle' : 'fa-plus big'"></i>
            </a>
            <!-- the form to type a name for a new list -->
            <form id="list-title-plus-btn-form" class="absolute-center"
                  ng-show="hidden"
                  ng-submit="hidden = false;
                          addList()">
                <label id="list-title-plus-btn-form-label" class="add-list-label">Enter list name</label>
                <div>
                    <input type="text" id="list-title-plus-btn-form-input"
                           ng-keydown="($event.keyCode === 27) ? hidden = false : ''"
                           ng-model="listName"
                           ng-show="hidden"
                           focus-on-show="200"/>
                    <button id="list-title-plus-btn-form-btn" type="submit"><i class="fa fa-angle-right"></i></button>
                </div>
            </form>
        </div>
    </div>
</section>