<section>
    <div class="container" id="list">
        <div id="list-header" class="row text-center">
            <div class="col-xs-8">Ingredients</div>
            <div class="col-xs-2">qty</div>
            <div class="col-xs-2">Msmt</div>
        </div>
        <div class="row"
             ng-repeat="listItem in dataCtrl.listItems"
             ng-controller="ChangeController as changeCtrl">
            <div class="col-xs-8">
                <div class="row">
                    <input class="form-control" 
                           ng-model="changeCtrl.value"
                           ng-change="changeCtrl.changeData()"
                           ng-enter-key="changeCtrl.changeData()"
                           ng-blur="changeCtrl.changeData()"/>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="row">
                    <input class="form-control" value="{{ listItem.quantity}}" />
                </div>
            </div>
            <div class="col-xs-2">
                <div class="row">
                    <input class="form-control" value="{{ listItem.measurements}}">
                </div>
            </div>
        </div>
    </div>
</section>