<!-- new list widget -->
<section class="no-select" id="list-editor-window-header"
         ng-mouseenter="cursorIsAboveTheHeader = true"
         ng-mouseleave="cursorIsAboveTheHeader = (heaaderInputIsActive) ? true : false">
    <!--ng-show="headerClicked"-->
    <input type="text" id="list-editor-window-header-input" value="Header" placeholder="List title:"
           ng-model="listName"
           ng-focus="heaaderInputIsActive = true"
           ng-blur="heaaderInputIsActive = false; cursorIsAboveTheHeader = false"
           ng-keypress="($event.which === 13) ? headerClicked = false : ''"
           ng-focus-on-enter
           focus-on-show
           autofocus/>
    <a href class="animate-show fast" id="list-editor-window-header-delete-btn"
       ng-show="cursorIsAboveTheHeader">
        <i class="fast fa fa-minus-circle" aria-hidden="true"></i>
    </a>
    <hr/>
</section>
<section id="list-editor-window-body">
    <!-- TODO: make columns resizable -->
    <table class="table" id="list-editor-window-table">
        <thead>
            <tr id="list-editor-window-table-headings"
                ng-show="data.headings.length > 1">
                <th ng-style="{display: checkboxesColumnDisplay}"></th>
                <th title="Double click to change column title"
                    ng-dblclick="editHeadings = !editHeadings"
                    ng-repeat="headingTitle in data.headings track by $index">
                    <span ng-hide="editHeadings">{{headingTitle}}</span>
                    <input ng-keydown="$event.keyCode == 13 ? editHeadings = !editHeadings : ''"
                           ng-model="headingTitle"
                           ng-change="changeHeading(headingTitle, $index)"
                           ng-show="editHeadings"
                           focus-on-show/>
                </th>
            </tr>
        </thead>
        <tr>
            <td class="no-select" id="list-editor-window-checkboxes-column" 
                ng-style="{display: checkboxesColumnDisplay}">
                <div class="list-editor-window-checkbox"
                     ng-repeat="checked in checkboxColumnData track by $index">
                    <a ng-click="checked = !checked; changeCheckbox($index)"><i class="fa fa-{{checked ? checkboxIcon : checkboxIconUnchecked}}" aria-label="Checkbox"></i></a>
                    <hr class="strikethrough" 
                        ng-style="{ display: checked ? 'block' : 'none', width: '10000px'}">
                </div>
            </td>
            <td id="list-editor-window-textarea-column">
                <textarea id="list-editor-window-textarea"
                          ng-style="{textAlign: textAlign, cursor: textareaCursor}"
                          ng-trim="false"
                          ng-click="textareaMouseleave()"
                          ng-mousemove="textareaMousemove($event)"
                          ng-mouseleave="textareaMouseleave()"
                          ng-change="changeTextarea()"
                          ng-model="listBody"
                          ng-show="true"
                          ng-focus-on-enter
                          focus-on-show></textarea>
            </td>
            <td class="list-editor-window-additional-column"
                ng-class="currentColumn = 'ad' + $index"
                ng-repeat="column in additionalColumnsData track by $index">
                <div class="list-editor-window-additional-item"
                     ng-repeat="item in column track by $index">
                    <input 
                        ng-change="changeAdditional(item, $index, currentColumn)"
                        ng-model="item"/>
                </div>
            </td>
        </tr>
    </table>
    <!-- floating toolbox -->
    <div class="animate-show fast" id="list-editor-window-cursor-toolbox"
         ng-style="{
                 display: toolboxDisplay, left
                     : textareaMousePosition.x, top
                     : textareaMousePosition.y}"         
         ng-mouseleave="toolboxMouseleave()"
         ng-show="showToolbox">
        <a class="{{item.icon.length == 0 ? 'separator':''}}" title="{{item.title}}"
           ng-class="{
                       active: item.state
                   }"
           ng-repeat="item in toolboxIcons"           
           ng-click="toolboxClick(item.icon)">
            <i class="fa fa-{{item.icon}}" aria-label="{{item.title}}"></i>
            <span ng-bind-html="item.content"></span>
        </a>
    </div>
</section>
<section class="no-select" id="list-editor-window-footer">
    <hr/>
    <div id="list-editor-window-submit-container">
        <button type="button" id="list-editor-window-submit" title="123" ng-click="submit()">
            <i class="fa fa-check"></i>
        </button>
    </div>
</section>