<section>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand no-select" on-hold="clickTitle()">Lister</a>
                <!--data-toggle="collapse" data-target="#navbar-collapse"-->
            </div>
            <ul class="nav navbar-nav navbar-right collapse navbar-collapse" role="menu_button">
                <li uib-dropdown uib-keyboard-nav ng-show="userProfile.loggedIn">
                    <a href uib-dropdown-toggle
                       role="button" 
                       aria-expanded="false">
                        <h4 class="navbar-text">{{userProfile.username}}</h4>
                        <div class="avatar-circle">
                            <div class="avatars absolute-center">                                            
                                <div class="avatar {{userProfile.avatar}}"></div>
                            </div>
                        </div>
                    </a>
                    <ul class="uib-dropdown-menu" role="menu">
                        <li><a href="#" ng-click="addList($event)">Create a list</a></li>
                        <!-- TODO: <li><a href="#">Settings</a></li> -->
                        <li class="divider"></li>
                        <li><a href="#" ng-click="logout()">Log Out</a></li>
                    </ul>
                </li>
            </ul>
            <!--<div class="collapse navbar-collapse navbar-right" id="navbar-collapse">
                <form class="nav navbar-form navbar-right" role="search"                       
                      ng-show="isLoggedIn()">
                    <input type="search" class="form-control input-xs" placeholder="Search"
                           ng-model="searchFilter">
                    <button type="submit" class="btn btn-default input-xs">Submit</button>
                </form>
            </div>-->
        </div>
    </nav>
</section>