<div id='password-popover-content'>
    a password must be<br/>
    at <strong><u>least</u></strong> 5 characters including<br/>
    <!--TODO: fix tooltips. They are not showing inside a popover-->
    <!--<a data-toggle='tooltip' data-placement='top' data-original-title='xyz'></a>-->
    1 <a href title='A B C D E F G H I J K L M N O P Q R S T U V W X Y Z'><strong>uppercase</strong></a> letter,<br/>
    1 <a href title='a b c d e f g h i j k l m n o p q r s t u v w x y z'><strong>lowercase</strong></a> letter,<br/>
    1 <a href title='! \" # $ % & &#39; ( ) * + , - . / : ; < = \> ? @ [ \ ] ^ _ ` { | } ~'><strong>special character</strong></a> and<br/>
    1 <a href title='1 2 3 4 5 6 7 8 9 0'><strong>numeric character</strong></a>
</div>